div, span, p, td {
	font-family: Arial, sans-serif;
}
.chart {
	display: inline-block;
	left: 2px;
}
#legend {
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 55px;
}
#legend_container {
	position: absolute;
	right: 0;
	bottom: 26px;
	width: 0;
}
.chart_container {
	position: relative;
}
#chart {
	position: relative;
}
