body {
  padding-top: 50px;
  background: #DDDDDD;
}
.padded-checkbox {
  padding: 0 10px;
}
#ardulogo {
	padding: 10px 25px;
}
.starter-template {
  padding: 0px 10px;
}
.top-15 {
	margin-top: 15px;
}
#axis0 {
  width: 40px;
  height: 200px;
}
#axis1 {
  width: 40px;
  height: 200px;
}
#slider {
  left: 42px;
}
.x_axis {
  position: relative;
  left: 40px;
  height: 40px;
}
#map-canvas {
  height: 400px;
  margin: 0px;
  padding: 0px;
}
table {
  width:100%;
}
#wait-overlay {
	position: absolute;
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	height: 100%;
	z-index: 100;
}
.coordinator-name input {
	border: none;
	box-shadow: none;
}
.coordinator-name input:focus {
	border: 1px solid #ccc;
	border-left: 0px;
	border-color: #66afe9;
	outline:0;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)
}
.coordinator-name span.input-group-addon {
	border: 1px solid #ccc;
}
.today {
	padding-left: 0;
}
.selected-range, .selected-range span {
	vertical-align: bottom;
}
.selected-range span.caret {
	vertical-align: text-bottom;
}
.selected-range span.dropdown {
	cursor: pointer;
}
.nav-pills li {
	min-width: 160px;
}
#sensors-list li {
	cursor: pointer;
}
#unplaced-sensors span {
	margin: 5px;
}
#chart-nav li {
	min-width: 0;
}