<!DOCTYPE html>
<html lang="en" ng-app="ui">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/icon" href="/favicon.ico">
    <link rel="icon" type="image/icon" href="/favicon.ico">

    <title>Ardusensor</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/graph.css" rel="stylesheet">
    <link href="css/lines.css" rel="stylesheet">
    <link href="css/ui.css" rel="stylesheet">
    <link href="css/legend.css" rel="stylesheet">
    
    <script src="js/lib/angular.js"></script>
    <script src="js/lib/angular-route.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="MainController" ng-cloak>
    <!-- Modal -->
    <div class="modal fade bs-example-modal-sm" id="coordinatorNickname" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="mySmallModalLabel">Coordinator settings</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group coordinator-name">
                <input type="text" class="form-control" placeholder="Coordinator label"
                  autofocus="autofocus"
                  ng-model="selectedCoordinator.label"
                  ng-blur="saveCoordinatorLabel(selectedCoordinator)">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="sensorsConfig" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="mySmallModalLabel">Sensors settings</h4>
          </div>
          <div class="modal-body">
            <table class="table noborder">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>Sensor label</th>
                  <th>Calibration temp</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="sensor in sensors">
                  <td>
                    <span ng-bind="sensor.id"></span>
                  </td>
                  <td>
                    <form class="form-inline" role="form">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Sensor label"
                          autofocus="autofocus"
                          ng-model="sensor.label"
                          ng-blur="saveSensor(sensor)">
                      </div>
                    </form>
                  </td>
                  <td>
                    <form class="form-inline" role="form">
                      <div class="form-group">
                        <input type="number" step="0.1" class="form-control" placeholder="0"
                          autofocus="autofocus"
                          ng-model="sensor.current_temperature"
                          ng-blur="saveSensor(sensor)">
                      </div>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-ardusensor navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="javascript:void(0)">
            <img src="img/header.svg" height="29" width="122">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div id="main-menu" class="dropdown">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
              <span class="glyphicon glyphicon-cog"></span>
              <span ng-bind="selectedCoordinator.label || 'No name'"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-href="{{ selectedCoordinator.log_url }}" target="_blank">View log</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="javascript:void(0)" data-toggle="modal" data-target="#coordinatorNickname">Set a nickname</a>
              </li>
            </ul>
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
      <div class="starter-template">
        <div class="alert alert-danger alert-dismissable" ng-show='errorMsg'>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="errorMsg=null">&times;</button>
          <span ng-bind='errorMsg'></span>
        </div>
        <div class="row top-15">
          <div class="col-md-12" ng-show="selectedCoordinator">
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-th"></span>
                SENSOR DATA
                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#sensorsConfig">Set up sensors</button>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                <div>
                  <div class="column" id="legend"></div>
                  <div id="chart" class="chart_container top-15">
                    <div id="axis0" class="y_axis pull-left"></div>
                    <div class="chart" class="pull-left"></div>
                    <div id="axis1" class="y_axis pull-right"></div>

                    <div class="clearfix"></div>
                    <div id="slider"></div>
                  </div>
                </div><!-- chart view -->
              </div>
            </div>
          </div>
        </div><!-- row -->
      </div><!-- starter-template -->
    </div><!-- container -->

    <script src="js/lib/d3.v3.js" type="text/javascript"></script>
    <script src="js/lib/rickshaw.js" type="text/javascript"></script>
    <script src="js/lib/moment.min.js" type="text/javascript"></script>
    <script src="js/lib/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="js/lib/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/lib/lodash.underscore.min.js" type="text/javascript"></script>
    <script src="js/chart.js" type="text/javascript"></script>
    <script src="js/ui.js" type="text/javascript"></script>
  </body>
</html>